@model TrainApp.Models.Schedules

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Stations/Details.cshtml";
}

<h1>Інфомація</h1>

<div>
    <h4>Розклад</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainRouteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainRouteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginStation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationStation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelayId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelayId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
